/* Entire Column */
.WBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	height: calc( (100vh - 10px) * 5 / 6 );
	margin: 0 10px 0 10px;
}

/* Each Row */
.row {
	flex: 1;

	align-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}

/* Each of the 2 columns */
.column {
	flex: 1;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* SVG and Day of week chunk */
div.column:nth-of-type(1) {
	/* text-align: center; */
	flex: 0 0 30%;

	justify-content: center;
}

/* Temps and wind speed chunk */
div.column:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.5em;

	flex: 0 0 70%;
}

/* SVG Icon */
.icon > svg {
	height: 2.7em;
	width: 2.7em;
}

/* Weekday Name */
.day {
	font-size: 2em;
}

/* Each specific item in the two stat divs (temps and wind) */
div.column:nth-of-type(2) > div {
	flex: 0 0 45%;
	text-align: left;
}

/* Dividing lines */
.row > hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	/* border: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left, #111, #FFF, #111); */

	flex: 0 0 90%;
}